body{

	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Titillium Web', sans-serif;
}

#head{
padding: 20px;
background-color: black;
margin: auto;
opacity: 0.8;
height: 200px;
}
#cinema{
	height: 20%;
	width: 50%;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
}
#mojerez{
	float: right;
	  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #B0A1B2;
  font-size: 20px;
  width: 25%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin-top: 20px;
}
#mojerez:hover{
	background: #B21088;
  color: #ffffff;
}

.mySlides {
	display:none;
	margin: auto;
}

